<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  <!-- 이니시스 결제 -->

    <application
        android:name=".ui.auth.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="뷰아"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingMall_App"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".ui.product.ProductSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.ProductPayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cart.ProductCartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.ProductInputActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.board.BoardEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.board.BoardInsideActivity"
            android:exported="false" />
        <activity
            android:name=".ui.board.BoardWriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tipList.ContentShowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tipList.ContentListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
                        <intent-filter>
                            <action android:name="android.intent.action.VIEW" />

                            <category android:name="android.intent.category.DEFAULT" />
                            <category android:name="android.intent.category.BROWSABLE" />

                            <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                            <data
                                android:host="oauth"
                                android:scheme="@string/kakao_auth_host" />
                        </intent-filter>
        </activity>
    </application>

</manifest>